parameters:
    site:
        develMode: true
        version: 2.0

    database:
        dns: 'mysql:host=db;dbname=fiesta'
        user: fiesta
        password: fiesta

    sendGridApiKey: INSERT SENDGRID API KEY
    JWTkey: INSERT JWT KEY
