{layout "@layout.latte"}
{block title}Thank you for your Registration!{/block}
{block description}
    We're glad you're here! Before you start exploring Fiesta amazingness, we just need to confirm that you are a friendly human and not an evil robot.
    <br>
    <br> Your profile will be verify by our team, but don't worry - you will be notified by another email as soon as this happens.
{/block}