{layout "@layout.latte"}
{block title}Dear user,{/block}
{block description}
    <br> We are sorry. Your profile was banned by admin due to some violations. Please contact your local section to get more information.
{/block}