in:
    title: "Sign In With Your Account"
    forgotPassword: "FORGOT YOUR PASSWORD ?"
    noAccount: "Don't have an account ?"
    createAccount: "CREATE AN ACCOUNT"
    keepMeSignedIn: "Keep me signed in"
    login: "LOGIN"
    email: "Email"
    password: "Password"
    wrongLogin: "Oops, that's not the right email or password. Please try again!"

setup:
    welcomeTitle: "Welcome to Fiesta"
    welcomeSubtitle: "Please answer these questions so we can help you make the profile you need."
    descriptionInternational: "My study abroad is about to start and I would like to meet a new local friend, who helps me kickstart my experience in a new country."
    descriptionLocal: "I am local student, eager to help incoming students with their first days."
    haveAccount: "Do you have an account ?"
    selectUniversity: "Which university you want to join?"
    promptUniversity: "My University"
    requiredUniversity: "Don't forget to choose your ESN section"
    requiredRole: "Choose your side"
    role: "What would you like to be part of?"
    firstName: "First name"
    requiredFirstName: "What's your name?"
    lastName: "Last name"
    requiredLastName: "What's your last name?"
    faculty: "Faculty:"
    requiredFaculty: "What's your faculty?"
    gender: "Gender"
    male: "Male"
    female: "Female"
    profilePicture: "Your Profile Picture"
    profilePictureDescription: "Choose a recent photo of yourself. This helps people see that they're getting in touch with the right person."
    changePhoto: "Click to change photo"
    requiredGender: "Please choose a gender"
    createAccount: "CREATE ACCOUNT"
    continue: "CONTINUE"
    signIn: "SIGN IN"

up:
    email: "Your e-mail"
    requiredEmail: "Enter a working email address, so you can receive our messages."
    password: "Create a password"
    requiredPassword: "Please create a password"
    minCharacter: "Please enter at least %d characters"
    title: "Let’s create a new Account"
    subtitle1: "Just two more steps and you're done!"
    subtitle2: "We hate paperwork, too."
    doYouHaveAccount: "Do you have an account ?"
    agreeDescription: "By clicking Join now, you agree to Fiesta's"
    terms: "Terms of Use"
    validation: %reset.validation%
    continue: %setup.continue%
    taken: "Email is already taken."

reset:
    title: "First, let's find your account"
    subtitle: "Fear not. We’ll email you instructions to reset your password. Please enter your email."
    email: "Enter your email"
    required: "Please enter your email."
    validation: "Please enter a valid email address."
    find: "Find Account"

setPassword:
    title: "Reset Your Password"
    subtitle: "Almost done. Enter your new password, and you're good to go."
    minimumPassword: "at least %d characters"
    notMatchPassword: "Passwords don't match"
    requiredRepeatPassword: "This field is required."
    setPassword: "New password"
    requiredPassword: "Please create a password."
    repeatPassword: "Confirm new password"
    send: "RESET PASSWORD"
