<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Fiesta</title>
    <meta name="description" content="Buddy Management System">


    <link rel="preload" href="{$basePath}/docs/assets/css/0.styles.e0a10275.css" as="style">
    <link rel="preload" href="{$basePath}/docs/assets/js/app.4dd3473f.js" as="script">
    <link rel="preload" href="{$basePath}/docs/assets/js/3.c14cbfbc.js" as="script">
    <link rel="prefetch" href="{$basePath}/docs/assets/js/2.cae9966d.js">
    <link rel="prefetch" href="{$basePath}/docs/assets/js/4.010f5926.js">
    <link rel="prefetch" href="{$basePath}/docs/assets/js/5.9ec5e6e4.js">
    <link rel="prefetch" href="{$basePath}/docs/assets/js/6.d53b5432.js">
    <link rel="stylesheet" href="{$basePath}/docs/assets/css/0.styles.e0a10275.css">
</head>
<body>
<div id="app" data-server-rendered="true">
    <div class="theme-container no-sidebar">
        <header class="navbar">
            <div class="sidebar-button">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512"
                     class="icon">
                    <path fill="currentColor"
                          d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
                </svg>
            </div>
            <a href="{$basePath}/docs/" class="home-link router-link-exact-active router-link-active"><!----><span
                        class="site-name">
      Fiesta
    </span></a>
            <div class="links">
                <div class="search-box"><input aria-label="Search" autocomplete="off" spellcheck="false" value="">
                    <!----></div><!----></div>
        </header>
        <div class="sidebar-mask"></div>
        <div class="sidebar"><!---->
            <ul class="sidebar-links">
                <li><a href="{$basePath}/docs/" class="active sidebar-link">Home</a></li>
                <li><a href="{$basePath}/docs/getting-started/" class="sidebar-link">Getting Started</a></li>
                <li><a href="{$basePath}/docs/buddy-management/" class="sidebar-link">Buddy Management</a></li>
                <li><a href="{$basePath}/docs/support/" class="sidebar-link">Support</a></li>
            </ul>
        </div>
        <div class="home">
            <div class="hero"><img src="{$basePath}/docs/connectdevelop-brands.svg" alt="hero">
                <h1>Fiesta</h1>
                <p class="description">
                    Buddy Management System
                </p>
                <p class="action"><a href="{$basePath}/docs/getting-started/" class="nav-link action-button">Get Started
                        →</a></p></div><!---->
            <div class="content custom"><h1 id="about"><a href="#about" aria-hidden="true" class="header-anchor">#</a>
                    About</h1>
                <p>Fiesta is a Buddy Management System made for ESN CZ. It's purpose is to help ESN sections with
                    organising erasmus students and their buddies.</p></div><!----></div>
    </div>
</div>
<script src="{$basePath}/docs/assets/js/3.c14cbfbc.js" defer></script>
<script src="{$basePath}/docs/assets/js/app.4dd3473f.js" defer></script>
</body>
</html>